<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a i18n  class="navbar-brand" routerLink="trees/home">Tree</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a i18n *ngIf="currentUser" routerLink="trees/tree" class="nav-link" routerLinkActive="active">See a tree</a>
            </li>

            <li>
                <a i18n routerLink="trees/placeholder" class="nav-link" routerLinkActive="active">JSON placeholder</a>
            </li>  

            <li *ngIf="currentUser">
                <a i18n routerLink="molecule-list" class="nav-link" routerLinkActive="active">Molecules</a>
            </li>  

            <li *ngFor="let language of languageList">
                <a class="nav-link" href="/{{language.code}}/">
                    {{language.label}}
                </a>
            </li>
            
             <li *ngIf="currentUser==undefined">
                <a i18n routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
            </li>
            
            <li *ngIf="currentUser">
                <a i18n routerLink="login" (click)="logout()" class="nav-link" routerLinkActive="active">Logout</a>
            </li>

            <li *ngIf="currentUser && currentUser.role === 'Admin'">
                <a class="nav-item nav-link" routerLink="/admin">Admin</a>
            </li>


             <li *ngIf="currentUser">
                 
               <a i18n href="#" class="nav-link" ><b>Hi {{currentUser.firstname}}</b></a>    
        </li>

        </ul>   
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm">
           
        </div>
        <div class="col-sm">
           

             
        </div>
        <div class="col-sm">
            
        </div>
    </div>
</div>





<div class="container">
    <router-outlet></router-outlet>
</div>
